// -----------------------------------------------------------------------------
// Config
// -----------------------------------------------------------------------------

// Colors
//
$white  : #FFF;
$black  : #444;
$blue   : #0069ff;
$green  : #15CD72;

// Fonts
//
$font-stack: "helvetica neue", "helvetica", "arial", sans-serif;
